form {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-item {
  display: flex;
  align-items: center;
}

.form-item__label {
  text-align: right;
}

.input__name,
.input__password,
.input__submit {
  width: 200px;
  margin: 10px;
}
